.container {
  display: grid;
  place-items: center;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.btn {
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.signBtn, .landingBtn {
  cursor: pointer;
  color: var(--white);
  text-decoration: underline;
}
