.todoItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--dark);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  border-left: var(--primary) 5px solid;
  transition: 0.2s ease-in-out;

  justify-content: space-between;
  margin-top: "1rem";
  padding: "0.5rem";
  border-radius: "10px";
  max-width: "1000px";
  list-style-type: "none";
}

.input {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--dark);
  border: 0.8rem solid var(--dark);

}

.btn {
  background-color: var(--purple);
  color: var(--white);
  border: 0.8rem solid var(--dark);
  font-size: 1.1rem;
  border-radius: 1rem;
  padding: 0.6rem;
  width: 6rem;
}

.saveEditBtnContainer {
  padding-right: 0.5rem;
}

.deleteBtnContainer {
  padding-right: 0.5rem;
}