.todoItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--dark);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  border-left: var(--primary) 5px solid;
  transition: 0.2s ease-in-out;

  justify-content: space-between;
}

.input {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--dark);
  border: 0 solid var(--purple);
}

.time {
  display: block;
  color: var(--purple);
}

.btn {
  background-color: var(--purple);
  color: var(--white);
  border: 0.1rem solid var(--dark);
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 0.6rem;
  width: 5rem;
  cursor: pointer;
}

.saveEditBtnContainer {
  padding-right: 0.5rem;
}

.deleteBtnContainer {
  padding-right: 0.5rem;
}

