.addTodoContentInput {
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--white);
  background-color: var(--grey);
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  outline: none;
}

.addBtn {
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
}

.signoutBtn {
  border: "none";
  padding: "0.5rem";
  border-radius: "2px";
  background: "#f44336";
  color: "white";
  font-size: "12px";
  background-color: var(--purple);
  color: var(--white);
  border: 0.2rem solid var(--purple);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  width: 5rem;
}

@media (max-width: 375px) {
  .header {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .addTodoContentInput {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
  }
  .addBtn {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
  }
}