* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-light);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

:root {
  --primary: var(--purple);
  --secondary: var(--green);
  --dark: #111417;
  --dark-light: #25282c;
  --white: #dcddde;
  --grey: #40444b;
  --green: #0be881;
  --red: #ff6347;
  --blue: #3a82ee;
  --light-blue: rgba(58, 130, 238, 0.75);
  --purple: #5865f2;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Landing Page */
.landing--page {
  font-size: 1.5rem;
  text-align: center;
}

.btn {
  cursor: pointer;
}